{% extends 'base.html' %} {% block title %} Signup {% endblock title %} {% block
corousel %}

<div class="container">
  <div class="row gy-4">
    <div
      class="col-md-6 order-2 order-md-1 d-flex flex-column justify-content-center"
    >
      <img
        src="/static/assets/img/contact-bg.png"
        class="img-fluid animated"
        alt=""
      />
    </div>

 
    <div class="col-md-5 order-1 order-md-2 hero-img">
        {% include "messages.html" %}
      <h3 class="text-center">Signup</h1>
      <form action="/signup" method="post">
        <div class="form-group">

          <input
            class="form-control mb-2 p-3"
            type="text"
            name="fname"
            required
            id=""
            placeholder="Enter Your First Name"
          />
        </div>

        <div class="form-group">

          <input
            class="form-control mb-2 p-3"
            type="text"
            name="lname"
            required
            id=""
            placeholder="Enter Your Last Name"
          />
        </div>

        <div class="form-group">

          <input
            class="form-control mb-2 p-3"
            type="email"
            name="email"
            required
            id=""
            placeholder="Enter Your Email Address"
          />
        </div>

        <div class="form-group">

          <input
            class="form-control mb-2 p-3"
            type="number"
            name="mobile"
            required
            id=""
            placeholder="Enter Your Mobile Number"
          />
        </div>

        <div class="form-group">
   
          <input
            class="form-control mb-2 p-3"
            type="password"
            name="pass1"
            required
            id="pas1"
            placeholder="Enter Your Password"
          />
        </div>
        <div class="form-group">

          <input
            class="form-control mb-2 p-3"
            type="password"
            name="pass2"
            required
            id=""
            placeholder="Confirm Your Password"
          />
        </div>

        <br />
        <div class="d-grid gap-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock corousel %}
