<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>

    <h1>Welcome to contact page</h1>
<a href="/">Go to Home</a>
    <form action="">
        <label for="name">Name</label>
        <input type="text">
        <label for="name">Phone</label>
        <input type="text">
        <label for="name">email</label>
        <input type="text">

        <textarea name="" id="">Description</textarea>
    </form>
    
</body>
</html>